<div class="main-content">
  <div class="container-fluid">
    <ng-container *ngIf="communityDetail$ | async as item">
      <h3>{{ item.title }}</h3>
      <p>{{ item.createdDate }}</p>
    </ng-container>
    <form class="example-form" id="review-form">
      <h3>Comment</h3>
      <mat-form-field
        class="example-full-width"
        appearance="fill"
        [formGroup]="commentForm"
      >
        <input
          matInput
          placeholder="Thêm bình luận"
          formControlName="comment"
        />
      </mat-form-field>
      <button mat-button color="primary" (click)="onSubmit($event)">
        Submit
      </button>
      <ng-container *ngFor="let item of reviewNews$ | async">
        <div class="mt-4">
          <mat-divider></mat-divider>
          <div class="row mt-2">
            <div class="col-10">
              <p>{{ item.content }}</p>
              <p style="display: flex">
                <span>
                  {{ item.favorite }}
                </span>

                <mat-icon>star</mat-icon>
              </p>
            </div>
            <span class="col-2">{{
              item.createdDate | date: "dd/MM/yyyy"
            }}</span>
            <div>
              <button mat-button color="primary" (click)="editReview(item)">
                Edit
              </button>
              <button mat-button color="warn" (click)="deleteReview(item)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</div>
