<div class="container">
  <h3>Register</h3>
  <form [formGroup]="registerForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">User name</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="userName"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword4"
          formControlName="password"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputAddress"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="firstname">First name</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        formControlName="firstName"
      />
    </div>
    <div class="form-group">
      <label for="lastname">Last name</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        formControlName="lastName"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="signIn()">
      Sign in
    </button>
  </form>
</div>
